<div class="banner">
    <div class="banner-content">
      <h1>Cocktails Party</h1>
      <p>Find you best cocktail</p>
      <%= link_to "Add a Cocktail", new_cocktail_path(@cocktail), class: "btn btn-primary" %></p>
    </div>
  </div>
