<div class="banner">
  <h1>Best Cocktails</h1>
  <%= link_to "Add a Cocktail", new_cocktail_path(@cocktail), class: "btn btn-primary" %></p>
</div>

<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card">
          <%= link_to cocktail_path(cocktail) do %>
            <h3><%= cocktail.name %></h3>
            <p><% cocktail.doses.each do |dose| %></p>
              <p><%= dose.ingredient.name %></p>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

