<div class="container">

  <div class="title">
    <h2>New Cocktail</h2>
    <h4>Please, enter your cocktail</h4>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
      <%= simple_form_for [@cocktail] do |f| %>
        <%= f.input :name %>

        <%= f.submit "Add a Cocktail", class: "btn btn-primary" %>
      <% end %>
      <br>

        <div class="text-center">
          <%= link_to "Back", cocktails_path(@restarant) %>
        </div>
    </div>
  </div>
</div>

